---
---

<div class="footer">
  <a href="/"> Home</a>
  |
  <a href="/about"> About</a>
  |
  <a href="/all"> All articles</a>
  |
  <span>Copyright 2023 cat,</span>
  <a href="/license">licensed under AGPLv3 only</a>
</div>

<style lang="scss">
  .footer {
    max-width: calc(90em + 70px);
    width: calc(100% - 4em);
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    color: #aaa;
    text-align: right;
  }
  a {
    text-decoration: none;
    color: #aaa;
  }
</style>
