---
---

<h3>My projects</h3>
<div class="projects">
  <a href="https://note.ironsm4sh.nl/">NoriNote</a>
  <a href="https://conf.ironsm4sh.nl/">NoriConf</a>
  <a href="https://git.ironsm4sh.nl/shared/timer">Laser timer</a>
  <a href="https://git.ironsm4sh.nl/shared/training-bicycle-video"
    >Training bicycle</a
  >
  <a href="https://git.ironsm4sh.nl/shared/mailbox-sensor">Mailbox sensor</a>
  <a href="https://git.ironsm4sh.nl/shared/gree-remote">Gree remote</a>
  <a href="https://git.ironsm4sh.nl/shared/svg2gcode">SVG2GCode</a>
  <a href="https://git.ironsm4sh.nl/shared/attiny88-snake">Snake Game</a>
  <a href="https://git.ironsm4sh.nl/shared/energy-exporter">Energy Exporter</a>
</div>

<style lang="scss">
  h3 {
    text-align: center;
  }
  .projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  a {
    font-weight: 750;
    text-align: center;
    flex-grow: 1;
    text-decoration: none;
    color: #444;
    border-width: 0px;
    border-style: solid;
    border-radius: 1em;
    margin: 10px;
    padding: 20px;
    background-color: var(--primary-color);
    transition: 200ms;

    &:hover {
      background-color: var(--secondary-color);
    }
  }
</style>
